<% include ../partials/common/header %>
<% include ../partials/common/display-header %>

<ul class="nav navbar-nav pull-right">
  <li><a href="/logout">Log Out</a></li>
</ul>

<% include ../partials/common/footer %>